/* USE FONT WEIGHT TO SELECT Light 200, Light 200 Italic, Bold 700, Normal 400 or Normal 400 Italic */

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	/* hex css color notation http://en.wikipedia.org/wiki/Web_colors*/
	background: #EDEDED;
}

#nav-container {
	/* importance of pixel perfect front end design http://blog.teamtreehouse.com/pixel-perfect-front-end-development-matters*/
	/* don't be a pizel perfectionist http://blog.teamtreehouse.com/dont-be-a-pixel-perfectionist*/
	height:100px;
	min-width: 100%;
}

#logo {
	margin-top: 15px;
	margin-left: 200px;
	display: inline-block;
}

#logo img {
	height: 56px;
	width: 125px;
}

#nav-buttons-container  {
	display: inline-block;
	margin-left: 340px;
}

.nav-button {
	font-size: 17px;
	display: inline-block;
	width: 75px;
	height: 20px;
	padding-bottom: 35px;
	text-align: center;
}

#demos {
	color: #1D698A;
}

#log-in {
	display: inline-block;
	background-color: black;
	color: white;
	border-radius: 50px;
	height: 25px;
	width: 83px;
	font-size: 15px;
	text-align: center;
	padding-top: 2px;
}

#hero-image-container {
	/* position of file relative to css sheet http://stackoverflow.com/questions/17927825/css-background-image-wont-work*/
	background: url('../img/bg_b.png')no-repeat center center fixed;
  background-size: cover;
	height: 415px;
	min-width: 100%;
	/* TRBL mnemonic for shorthand*/
	margin: 0px -10px 0px -10px;
}

#left-arrow {
	display: inline-block;
	background-color: black;
	height: 50px;
	width: 60px;
	float: left;
	margin-top: 170px;
}

#left-arrow img {
	padding: 10px 5px 10px 5px;
}

#right-arrow {
	display: inline-block;
	background-color: black;
	height: 50px;
	width: 60px;
	float: right;
	margin-top: 170px;
}

#right-arrow img {
	padding: 10px 0px 10px 10px;
}

#hero-text-container {
	padding-top: 100px;
	display: inline-block;
	margin-left: 500px;
}

#hello-text {
	text-align: center;
	font-size: 100px;
	color: white;
	font-weight: bold;
}

#fancy-startup-text {
	text-align: center;
	font-size: 35px;
	color: white;
}

#circle-container {
	margin-top: 105px;
	margin-left: 690px;
}

#left-blue-circle{
	display:inline-block;
	background-color: #4DBCE8;
	border-radius: 100px;
	height: 11px;
	width: 11px;
}

#white-circle {
	display:inline-block;
	background-color: white;
	border-radius: 100px;
	height: 11px;
	width: 11px;
}

#right-blue-circle {
	display:inline-block;
	background-color: #4DBCE8;
	border-radius: 100px;
	height: 11px;
	width: 11px;
}

#ceo-quote-container {
	height: 272px;
	min-width: 100%;
	border-bottom: 1px solid #D7D7D9;
	/* extend border to edges of page */
	margin: 0px -10px 0px -10px;
}

#ceo-quote {
	padding-top: 80px;
	margin: auto;
	font-size: 32px;
	text-align: center;
}

#ceo-quote-ital {
	font-style: italic;
}

#ceo-quote-bold {
	font-weight: bold;
}

#feature-description-container {
	height: 565px;
	min-width: 100%;
	border-bottom: 1px solid #D7D7D9;
	/* extend border to edges of page */
	margin: 0px -10px 0px -10px;
}

#features-container {

}

.features {
	display: inline-block;
	width: 250px;
	height: 410px;
	text-align: center;
	padding-top: 70px;
}

#feature1 {
	margin-left: 290px;
}

#feature2 {
	margin-left: 65px;
}

#feature3 {
	margin-left: 65px;
}

.feature-title {
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.feature-text {
	text-align: left;
}

#culture-tagline-container {
	height: 542px;
	min-width: 100%;
}

#exciting-tagline-container {
	height: 320px;
	width: 440px;
	display: inline-block;
	margin-left: 280px;
}

.tagline-title {
	font-weight: bold;
	font-size: 30px;
	text-align: left;
}

.tagline-text {
	text-align: left;
}

#learn-more-button {
	font-size: 25px;
	color:white;
	background-color: black;
	border-radius: 50px;
	height: 45px;
	width: 190px;
	padding-left: 45px;
	padding-top: 10px;
}

#learn-more-button img {
	padding-left: 30px;
}

 #iphone-container {
 	padding-top: 85px;
 	display: inline-block;
 	margin-left: 74px;
 }

#company-info-footer-container {
	height: 352px;
	min-width: 100%;
	background: url('../img/bg_b.png')no-repeat center center fixed;
  background-size: cover;
  margin: 0px -10px 0px -10px;
}
 #company-info-table {
 	color: rgba(255, 255, 255, 0.75);
 	font-size: 18px;
 	margin: 0 auto;
 	padding-top: 65px;
/* 	https://developer.mozilla.org/en-US/docs/Web/CSS/border-spacing
 	http://stackoverflow.com/questions/339923/how-to-set-cellpadding-and-cellspacing-in-css*/
 	border-spacing: 90px 10px;
  border-collapse: separate;
 }







